# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/
build/

# Environment files
.env
.env*.local
.env.local
.env.production
.env.development

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE
.DS_Store
Thumbs.db
.vscode/

# Vercel
.vercel

# Supabase temp & local config
supabase/.temp/

# TypeScript build info
*.tsbuildinfo

.vercel
.env*
scripts/
